button{
    background-color: blue;
    color: white;
    border-radius: 32px;
    border: none;
    padding: 8px;
    margin: 8px;
}

body{
    background-color: rgb(45, 45, 45);
}

button :hover{
    background-color: rgb(0, 72, 255);
}